/**
 * Typography
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * GLOBAL.............Styles placed on html or body
 * HEADINGS...........Heading styles
 * PARAGRAPHS.........Paragraph styles
 * ANCHORS............Anchor styles
 * INLINE_ELEMENTS....Inline element styles
 */


@import './typography/_global';
@import './typography/_headings';
@import './typography/_paragraphs';
@import './typography/_anchors';
@import './typography/_inline_elements';
