/*
 * FAMILYSEARCH-STYLES (Base)
 * v1.8.0
 */

@import './helpers/*';
$limit-base-styles = true;
@import './elements/_forms';
@import './elements/_typography';

/*
 * OTHER CLASSES
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
